:root {
  --font-sans: font-family: ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-mono: font-family: ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
  --primary: hsl(229, 28%, 19%);
  --secondary: hsl(229, 28%, 17%);
  --accent: hsl(140, 48%, 79%);
  --accent-alpha: hsl(140, 48%, 20%, 0.8);
  --shadow: hsl(229, 28%, 10%, 0.7);
  --text-dark: hsl(227, 49%, 71%);
  --text-light: hsl(240, 100%, 90%);
  --fs-300: 1.4rem;
  --fs-400: 1.6rem;
  --fs-500: 1.8rem;
  --fs-600: 2.2rem;
  --fs-700: 2.4rem;
  --fs-800: 3.2rem;
  --fs-900: 4rem;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --border-radius: 4px;
}
