:root {
  --primary: hsl(229, 28%, 19%);
  --secondary: hsl(229, 28%, 17%);
  --accent: hsl(140, 48%, 79%);
  --text-dark: hsl(227, 49%, 71%);
  --text-light: hsl(240, 100%, 90%);
  --fs-300: 1.4rem;
  --fs-400: 1.6rem;
  --fs-500: 1.8rem;
  --fs-600: 2.2rem;
  --fs-700: 2.4rem;
  --fs-800: 3.2rem;
}
